

/*Import Google fornt 'Monofett','Roboto Mono'*/
@import url('https://fonts.googleapis.com/css2?family=Monofett&family=Roboto+Mono&display=swap');

/* reseting to zero margins paddings and borders from all the elements*/
*{ 
    margin: 0;
    padding: 0;
    border: none;
}

/*body styling*/
body{
    background: rgb(16, 51, 62);
    color: whitesmoke;
}

/*header styling*/
#header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#header h1{
    justify-content: center;
    text-align: center;
}

/*logo styling*/
#logo{
    width: 50%;
    margin: 1rem 2rem;
    border: white solid 1px;
    border-radius: 20%;
}

#places-wrapper{
    justify-content: center;
    align-items: center;

}

/*All the places styling*/
.controlling-places{ 
    text-align: center;
    clear: both;
    width: 80%;
    height: auto;
    border: 1px solid whitesmoke;
    border-radius: 20%;
    margin: 2rem;
    padding: 2rem;
}

.control-header {
    display: inline-block;
    border: whitesmoke 2px solid;
    border-style: inset;
    border-radius: 40%;
    padding: 1rem;
    min-width: 10rem;
    margin: 2rem;
}
    


/*styling all the lights header bottons img*/
.light{
    display: flex;
    margin: 2rem 1rem 4rem 1rem;
}
.header-light {
    float: left;
    font-size: 120%;
}

.light-img .desired-temp{
    float:  right; 
}

.light-input{
    margin: 0 auto;
}

.light-input span, .fan-switch span{
    font-size: 150%;
}

.light-input span, .fan-switch span{
    margin: 1rem ;
    vertical-align: super;
}

/*styling all the temp header bottons img*/
.temp{
    display: flex;
}
.current-temp {
    float: left;
    font-size: 120%;
}
.desired-temp-slider {
    display: flex;
    float: right;
    font-size: 120%;
    
}
.desired-temp-header { 
    margin: 0 auto;
    font-size: 120%;
}

.temp .current-temp {
    font-size: 120%;
}

/*style for current temps */
.temp .current-temp span{
    background: white;
    border: black 1px solid;
    border-radius: 50%;
    color: brown;
    margin-left: 1rem;
    padding: 0.5rem;
    min-width: 2.5rem;
    min-height: 2.5rem;
}

/*style for temp slider spans */
.temp .desired-temp-slider span{
    background: blue;
    font-size: 150%;
    border: white 1px solid;
    border-radius: 50%;
    padding: 0.2rem;
    margin-left: 1rem;
    min-width: 2.2rem;
    min-height: 2.2rem;
}
/*style for fan speed  slider spans */
#living-room-fan-speed-value{
    background: blue;
    border: white 1px solid;
    border-radius: 20%;
    margin-left: 1rem;
    padding: 0 0.3rem;
}

.temp .desired-temp-slider span{
    position: relative;
    top: -20px;
}


/*styling all the fan header bottons img*/
.fan{
    display: flex;
    margin: 4rem 1rem 2rem 1rem;
    
}

.fan-header{
    float: left;
    font-size: 120%;
}

.fan-img{
    float: right;
}

.fan-switch{
    margin: 0 auto;
}

.fan-switch .fan-switch-slider{
    margin-right:  2rem;
}

 /*  Overriding the slider default Style for switchs */
.switch-slider, .fan-switch-slider{
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 60px;
    height: 20px; 
    background: red;
    border: white 1px solid;
    border-radius: 30%;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: 0.3s; 
    transition: opacity 0.3s;
  }
  
  /* Mouse-over effects */
  .switch-slider:hover, .fan-switch-slider:hover {
    opacity: 1;
  }
  
  /*  slider handle */
  .switch-slider::-webkit-slider-thumb, .fan-switch-slider::-webkit-slider-thumb{
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; 
    height: 15px; 
    background: grey; /* Green background */
    border: whitesmoke 1px solid;
    border-radius: 50%; /* making a circle*/
    cursor: pointer; /* Cursor on hover */
  }
  
/*styling the fan and light img */
  .light-img , .fan-img{
    width :3rem;
    height: 3rem;
    background-color: gray;
    border: whitesmoke 1px solid;
    border-radius: 50%;
  }


  /*  Overriding the slider default Style for temp and fan speed sliders */
.desired-temp-slider input {

    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    height: 1rem; 
    background: blueviolet;
    border: white 1px solid;
    border-radius: 10%;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: 0.3s; 
    transition: opacity 0.3s;
  }



/*  slider handle */
.desired-temp-slider input::-webkit-slider-thumb{
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 1rem; 
    height: 1rem; 
    background: grey; /* Green background */
    border: whitesmoke 1px solid;
    border-radius: 50%; /* making a circle*/
    cursor: pointer; /* Cursor on hover */
    }

/* Mouse-over effects */
.desired-temp-slider input:hover{
    opacity: 1;
  }
  

  
  #footer{
    float: left;
    margin: 1rem;
    height: 5rem;
}

/*any element with class fan-img which has class run(#) will execute these animations */
.fan-img .run1{
    animation: rotate 0.8s linear infinite;
}
.fan-img .run2{
    animation: rotate 0.5s linear infinite;
}
.fan-img .run3{
    animation: rotate 0.2s linear infinite;
}
/*animation for fan */
@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

