

/*Import Google fornt 'Monofett','Roboto Mono'*/
@import url('https://fonts.googleapis.com/css2?family=Monofett&family=Roboto+Mono&display=swap');


body{
    background: #121212;
}

#logo{
    font-family: 'Monofett';
    color:white;

}